:host{
    display: flex;
    flex-direction: column;
    height: 100%;

    .messages-container{
        flex: 1;
        overflow-y: auto;
        margin: auto 30px 16px 30px;
    }

    .footer{
        margin: auto 30px 16px 30px;
        max-height: 60%;
        padding: 0 16px;
    }
}