<mat-toolbar role="heading" color="primary">
    <span>SimpleMds</span>
    <div *ngIf="!!(auth.user$ | async); then thenSignOut else elseSignIn"></div>
    <ng-template #thenSignOut>
        <app-search-workspace style="margin-left: auto; margin-right: auto;"></app-search-workspace>
        <button  mat-icon-button (click)="signOut()">
            <mat-icon>logout</mat-icon>
        </button>
    </ng-template>
    <ng-template #elseSignIn>
        <button style="margin-left: auto;" mat-icon-button (click)="signIn()">
            <mat-icon>login</mat-icon>
        </button>
    </ng-template>
</mat-toolbar>