:host{
    display: flex;
    flex-direction: column;
    height: 100%;

    .answers-container{
        flex: 1;
        overflow-y: auto;
    }

    editor{
        margin: auto 16px 16px 16px;
        max-height: 60%;
    }
}