:host{
    display: flex;
    flex-direction: column;
    height: 100%;

    .answers-container{
        flex: 1;
        overflow-y: auto;
    }

    .footer{
        max-height: 60%;
        padding: 0 16px;
    }

    mat-toolbar{
        display: flex;
        justify-content: space-between;
    }
}