:host {
    display: block;
    padding-top: 16px;

    ngx-auth-firebaseui::ng-deep .mat-form-field-suffix {
        display: flex;
        align-items: center;

    }

    ngx-auth-firebaseui::ng-deep mat-card {
        margin: 2rem;
        transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
        display: block;
        position: relative;
        padding: 16px;
        border-radius: 4px;
    }

    ngx-auth-firebaseui::ng-deep mat-card-title {
        display: block;
        margin-bottom: 8px;
        font-size: 24px;
        font-weight: 500;
    }

    ngx-auth-firebaseui::ng-deep .user-email {
        margin-top: 1rem !important;
    }

    ngx-auth-firebaseui::ng-deep .reset-password-tab {
        mat-progress-bar {
            margin-bottom: 1rem;
        }

        &__close-button {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            mat-icon {
                font-size: 18px;
                position: relative;
                top: -1px;
            }
        }
    }
}