<mat-drawer-container start="drawerLeft" end="drawerRight" autosize="false">

    <mat-drawer [autoFocus]="" [disableClose]="false" [opened]="!!(auth.user$ | async)" position="start" #drawerLeft
        [mode]="sidesMode" from="left">
        <router-outlet></router-outlet>
    </mat-drawer>

    <mat-drawer-content>
        <div *ngIf="!!(auth.user$ | async)" class="drawer-controller" (click)="drawerLeft.toggle()">
            <mat-icon color="primary">switch_left</mat-icon>
        </div>
        <router-outlet name="mainSide"></router-outlet>
        <div *ngIf="!!(auth.user$ | async)" class="drawer-controller" (click)="drawerRight.toggle()">
            <mat-icon color="primary">switch_right</mat-icon>
        </div>
    </mat-drawer-content>

    <mat-drawer [autoFocus]="" [disableClose]="false" [opened]="!!(auth.user$ | async)" position="end" #drawerRight
        [mode]="sidesMode" from="right" [style.width.px]="drawerWidth">
        <div *ngIf="!!(auth.user$ | async)" class="resize-handle" (mousedown)="onResizeStart($event)"></div>
        <router-outlet name="rightSide"></router-outlet>
    </mat-drawer>

</mat-drawer-container>