<div *ngIf="channel?.closed; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
    <mat-icon>lock</mat-icon>
</ng-template>
<ng-template #elseBlock>
    <mat-icon>tag</mat-icon>
</ng-template>
|<span>{{channel?.name || 'Unknown Channel'}}</span>
|<button (click)="$event.stopPropagation()" class="channel-menu" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Channel Menu">
    <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
    <button (click)="$event.stopPropagation(); leaveChannel()" mat-menu-item>
        <mat-icon color="warn">logout</mat-icon>
        <span>Leave</span>
    </button>
    <button (click)="$event.stopPropagation(); addMembers()" mat-menu-item>
        <mat-icon color="primary">add</mat-icon>
        <span>Add Members</span>
    </button>
</mat-menu>